<h2 class="text-center">Все цвета канекалона:</h2>
<% @kanekalons.each do |kanekalon| %>
  <div style="width: 50px; height: 50px; background-color: <%= kanekalon.hex %>"></div>
  <p><%= kanekalon.color_name %></p>
<% end %>

<%= form_with model: @kanekalon do |form| %>
  <%= form.collection_select(:color_name, @kanekalons, :color_name, :color_name) %>
<% end %>