<h2 class="text-center">Все цвета канекалона:</h2>
<% @kanekalons.each do |kanekalon| %>
  <div style="width: 50px; height: 50px; background-color: <%= kanekalon.hex %>"></div>
  <p><%= link_to kanekalon.color_name, kanekalon_path(kanekalon) %></p>
<% end %>

